/* CSS Document */

.infoCont{
	float: none;
	margin: 0 auto;
	width: 900px;	
}

	.tour{
		display: block;
		float: left;
		margin: 0 30px 20px 20px;
		width: 400px;
	}
	
		.date{
			color: #701413;
			font: bold 30px Arial, Helvetica, sans-serif !important;
			margin-bottom: 4px;
			padding-bottom: 0px !important;
		}
	
		.tour td{
			font: 14px Arial, Helvetica, sans-serif;
			padding-bottom: 6px;
			padding-right: 16px;
		}
	
		.tourLabel{
			font-weight: bold !important;	
		}
		
		.program{
			color: #701413;
			font-weight: bold;	
		}
